@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
::-moz-selection{background:lightgreen;}
::selection{background:lightgreen;}
body{
  background:#111;
  font-family:'Droid Sans',sans-serif;
  font-size:7pt;
  color:#8df776;
  font-weight:700;
  text-transform:uppercase;
  margin:auto;
}

.screen{
  width:120vh;
  height:95vh;
  position:absolute;
  margin-left:26px;
  border-radius:20px;
  background:#000;
  border:5px solid #333;
  padding:5px 5px 5px 0;
  overflow:hidden;
}

.screen-reflection{
  width:114vh;
  height:90.25vh;
  background:linear-gradient(150deg,#fff,rgba(0,0,0,0));
  position:relative;
  z-index:99;
  opacity:0.07;
  margin:9px 10px 10px 10px;
  border-radius:10px;
  pointer-events: none;
}
.scan{
  width:122vh;
  height:40vh;
  background:linear-gradient(rgba(0,0,0,0),#7ff12a);
  position:absolute;
  animation:scan;
  animation-duration:4s;
  animation-iteration-count: infinite;
  top:-42vh;
  z-index:99;
  opacity:0.25;
  pointer-events: none;
}
nav{
  height:12vh;
  width:90%;
  position:absolute;
  top:0;
  left:0;
  border-bottom:1px solid #8df776;
  padding-left:10%;
  border-top-right-radius:20px;
  z-index:95;
  border-top-left-radius:20px;
}
nav span{
  color:#8df776;
  font-size:5vh;
  letter-spacing:3px;
  margin-left:5vh;
  font-weight:300;
  cursor: pointer;
}
nav .main {
  position: absolute;
  bottom: 0;
}
nav div [data-current-nav]{
  background:#000;
  border-right:1px solid #8df776;
  border-left:1px solid #8df776;
  border-bottom:1px solid #000;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  padding:3px 6px 0px 6px;
}
nav p{
  height:25px;
  position: absolute;
  top: 100%;
}
nav .off{
  color:#172f18;
  position:relative;
  left:-5px;
}
.bar1,.bar2,.bar3,.bar4,.bar5,.bar6{width:15px;height:3.5px;background:#64d515;position:absolute;}
.bar1{left:32px;top:-8px;}
.bar2{left:32px;bottom:-8px;background:none;border:1px solid #64d515;height:1.5px;}.bar2:after{content:"";display:block;height:1.5px;width:7.6px;background:#64d515;}
.bar3{left:-20px;top:32px;}
.bar4{right:-20px;top:32px;}
.bar5{left:-20px;top:82px;}
.bar6{right:-20px;top:82px;}
.supplies{height:16px;position:absolute;bottom:22px;left:13px;background:#000;}
.supplies span{margin-right:5px;background:#78e461;padding:2px 3px 2px 3px;color:#000;font-weight:700;}
.hud-bar{height:12px;position:absolute;width:290px;bottom:9px;left:15px;background:#000;color:#8df776;z-index:96;}
.info-bar{width:170px;height:20px;bottom:50px;left:86px;position:absolute;z-index:97;}
.info-bar span{background:rgba(0,255,0,0.0.2);padding:3px;height:15px;display:inline-block;vertical-align:top;font-size:7px;color:#8df776;text-align:center;position:relative;}
.info-bar span i{position:absolute;top:0;left:5px;}
.info-bar span p{margin-top:8px;}

.hp{display:inline-block;}.hp:before{content:"HP 365/365";}
.exp{display:inline-block;margin-left:20px;}.exp:before{content:"Level 48";}
.exp:after{content:"";display:inline-block;width:99px;height:4px;border:1px solid lightgreen;margin-left:2px;}
.ap{display:inline-block;margin-left:20px;}.ap:before{content:"AP 110/110";}
.weapon{background:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/184191/pipboy-gun2.png') no-repeat;width:23px;height:auto;}
.aim{background:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/184191/pipboy-aim2.png')}
.shield{background:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/184191/pipboy-shield2.png')}
.voltage{background:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/184191/pipboy-voltage2.png');}
.nuclear{background:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/184191/pipboy-nuclear2.png')}
.helmet{background:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/184191/pipboy-helmet2.png');}
.aim,.shield,.voltage,.nuclear{width:10px;background-size:10px 10px;height:auto;background-repeat:no-repeat;background-position:3px 0px;}
.weapon,.helmet{background-size:27px;height:auto;width:23px;background-repeat:no-repeat;}

@keyframes flicker{
	0%{box-shadow:0px 0px 5px 0px red;}
  5%{box-shadow:0px 0px 30px 2px red;}
	60%{box-shadow:0px 0px 30px 2px red;}
	80%{box-shadow:0px 0px 10px 0px orange;}
	90%{box-shadow:0px 0px 30px 2px red;}
  100%{box-shadow:0px 0px 0px 0px red;}
}

@keyframes meter{
  0{transform:rotate(30deg);}
  50%{transform:rotate(20deg);}
}

@keyframes scan{
  0{top:-40vh;}
  70%{top:100vh;}
  100%{top:100vh;}
}

.show {
  display: none;
}

body.infos .show.infos {
  display: block;
}
body.cmp .show.cmp {
  display: block;
}
body.add .show.add {
  display: block;
}

.show.infos.content, .show.add.content, .show.cmp.content {
  width: 100%;
  position: absolute;
  top: 12vh;
  height: 88vh;
  background-image:url('img/vaultboy2.gif');
  background-size:auto 70vh;
  background-repeat: no-repeat;
  background-position:right;
  background-repeat: no-repeat;
}
.show.cmp.content {
  background-image:url('img/comps.gif');
  background-size:auto 80vh;
}

.show.add.content {
  background-image:url('img/adds.gif');
  background-size:auto 75vh;
}
.show.infos.content .values {
  font-size: 6vh;
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(0%, -50%);
  line-height: 10vh;
}
.reverse {
  transform: scale(-1, 1);
  display: inline-block;
}
.big-arrow {
  font-size: 2em;
  vertical-align: middle;
}